Pen Requirements:
	Any physical entity that can write behaviour
	is a pen.
	Supporting gel pen, ball pen, fountain pen.
	Gel and ball pen will have a refill, others will
	not have a refill, and refill will have ink.
	Different inks have different colours.
	For every pen, need to store the brand,
	name and price.
	Pen can be either closed via cap or via click
	buttons.
	Often refills have different nibs radius, do we
	have to store the radius of nibs?
	The fountain pen itself has nibs.
	Pens should be able to write.
	We can close/open the pen.
	We should be able to refill pens.