body{
    background-color: gainsboro !important;
}
.center {
    margin: auto;
    width: 50%;
    background-color: darkslategrey;
    border: 3px solid darkslategrey;
    padding: 10px;
    color: white;
  }